<html>
<head>
	<title>Clef - Learn</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body class="lessonPage">
	<header class="header">
		<nav class="authNav">
			<ul class="social list-inline">
				<li class="username"><a href="/logout">Log Out</a></li>
				<li>|</li>
				<li class="username"><a href="/profile"><%=user.username%></a></li>
				<% if(user.image == "images/default.png") { %>
					<li><img class="userPic" src="../<%=user.image%>" alt="user image"></li>
				<% } else { %>
					<li><img class="userPic" src="<%=user.image%>" alt="user image"></li>
				<% } %>
			</ul>
		</nav>
	</header>
	<main class="homeContent">
		<div class="pageTitle">
			<h1>Lesson 5: Measures &amp; Time Signatures</h1>
		</div>
		<nav class="mainNav lessonNav">
			<ul>
			    <li><a href="/">Home</a></li>
			    <li><a href="/learn">Learn</a></li>
			    <li><a href="/create">Create</a></li>
			</ul>
		</nav>
		<section class="lessonFlex">
			<section class="lessonInfoSection">
				<p class="lessonText"><span>Measures</span> are what divide up music into equal parts. They are separated by vertical black bars called <span>Bar Lines</span>.</p>
				<img src="../images/lesson5/measures.jpg" alt="measures">
				<hr class="hr">

				<p class="lessonText"><span>Time Signatures</span> tell you how many and what type of notes that each measure contains. For example, the most common time signature is 4/4.</p><br>
				<p class="lessonText">The top number specifies how many notes are allowed to be inside each measure. The bottom number specifies what type of note is supposed be in each measure, or at least the equivalent of that note.</p><br>
				<img src="../images/lesson5/44.jpg" alt="4/4 time signature">
				<p class="lessonText">In this example, each measure should contain 4 quarter notes. An example of an equivalent measure would be 3 quarter notes and 2 eighth notes, since 2 eighth notes equal 1 quarter note.</p><br>
				<p class="lessonText">So if you had a time signature of 3/4, you would have 3 (top number) quarter notes (bottom number) in each measure.</p>
				<img src="../images/lesson5/34.jpg" alt="3/4 time signature">
				<p class="lessonText">There are also more complicated time signature. Here's a time signature of 6/8.</p>
				<img src="../images/lesson5/68.jpg" alt="6/8 time signature">
				<p class="lessonText">As you can see, the same rules apply. The top number tells you there will be 6 notes in each measure, and the bottom number tells you that each note will be an eighth note.</p><br>
				<p class="lessonText">Another example would be a 3/2 time signature.</p>
				<img src="../images/lesson5/32.jpg" alt="3/2 time signature">
				<p class="lessonText">Each measure would contain 3 half notes.</p>

				<hr class="hr">
				<a class="lessonText lessonLinks" href="/learn/lesson4">&#60; Lesson 4</a>
				<a class="lessonText lessonLinks" href="/learn/lesson6">Lesson 6 &#62;</a>
			</section>
		</section>
	</main>
	<footer class="site-footer">
		<p>&copy; Copyright 2015</p>
	</footer>
</body>
</html