<html>
<head>
	<title>Clef - Learn</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body class="lessonPage">
	<header class="header">
		<nav class="authNav">
			<ul class="social list-inline">
				<li class="username"><a href="/profile"><%=user.username%></a></li>
				<% if(user.image == "images/default.png") { %>
					<li><img class="userPic" src="../<%=user.image%>" alt="user image"></li>
				<% } else { %>
					<li><img class="userPic" src="<%=user.image%>" alt="user image"></li>
				<% } %>
			</ul>
		</nav>
	</header>
	<main class="homeContent">
		<div class="pageTitle">
			<h1>Lesson 7: Scales</h1>
		</div>
		<nav class="mainNav">
			<ul>
			    <li><a href="/">Home</a></li>
			    <li><a href="/learn">Learn</a></li>
			    <li><a href="/create">Create</a></li>
			</ul>
		</nav>
		<section class="lessonFlex">
			<section class="lessonInfoSection">
				<p class="lessonText">A <span>Scale</span> is a sequence of certain notes withn on octave. The first kind of scale we will go over is the <span>Major Scale</span>.</p><br>
				<p class="lessonText">Any major scale can be created by using a formula. The formula tells us when to make whole and half steps so that it creates a major scale.</p>
				<img src="../images/lesson7/majorFormula.jpg" alt="major scale formula">
				<p class="lessonText">W's represent whole steps, and h's respresent half steps. We'll build a C Major Scale as an example. The starting note is a C.</p>
				<img src="../images/lesson7/c1.jpg" alt="first note in c major scale">
				<p class="lessonText">Following the formula, we make a whole step to D.</p>
				<img src="../images/lesson7/c2.jpg" alt="second note in c major scale">
				<p class="lessonText">We take another whole step to E</p>
				<img src="../images/lesson7/c3.jpg" alt="third note in c major scale">
				<p class="lessonText">Then a half step to F</p>
				<img src="../images/lesson7/c4.jpg" alt="fourth note in c major scale">
				<p class="lessonText">Now we go back to a whole step for the next note, G.</p>
				<img src="../images/lesson7/c5.jpg" alt="fifth note in c major scale">
				<p class="lessonText">From G we go up another whole step to A.</p>
				<img src="../images/lesson7/c6.jpg" alt="sixth note in c major scale">
				<p class="lessonText">From A we go a whole step up to B.</p>
				<img src="../images/lesson7/c7.jpg" alt="seventh note in c major scale">
				<p class="lessonText">And lastly from B, we take the last half step up back to C.</p>
				<img src="../images/lesson7/c8.jpg" alt="back to c in the major scale">
				<p class="lessonText">No matter what note you start on, as long as you follow the formula you create a major scale.</p>
				<hr class="hr">

				<p class="lessonText">The next type of scale we will go over is the <span>Minor Scale</span>.</p><br>
				<p class="lessonText">Any minor scale can be created by using this formula. We'll build an A Natural Minor Scale for this example.</p>
				<img src="../images/lesson7/minorFormula.jpg" alt="minor scale formula">
				
				<p class="lessonText">The first note of course is A.</p>
				<img src="../images/lesson7/a1.jpg" alt="first note in minor scale">
				<p class="lessonText">From A we take a whole step up to B.</p>
				<img src="../images/lesson7/a2.jpg" alt="second note in minor scale">
				<p class="lessonText">From B we immediately switch it up and take a half step up to C.</p>
				<img src="../images/lesson7/a3.jpg" alt="third note in minor scale">
				<p class="lessonText">After C, we go back to a whole step, up to D.</p>
				<img src="../images/lesson7/a4.jpg" alt="fourth note in minor scale">
				<p class="lessonText">We then go another whole step up to E.</p>
				<img src="../images/lesson7/a5.jpg" alt="fifth note in minor scale">
				<p class="lessonText">Switch back to a half step, up to F.</p>
				<img src="../images/lesson7/a6.jpg" alt="sixth note in minor scale">
				<p class="lessonText">And then back to a whole step up to G.</p>
				<img src="../images/lesson7/a7.jpg" alt="seventh note in minor scale">
				<p class="lessonText">Finally we take another whole step back to an A.</p>
				<img src="../images/lesson7/a8.jpg" alt="back to a note in minor scale">
				<p class="lessonText">These are the two main types of scales in music, but there are also other scales that are variations of the two main types.</p>
				<hr class="hr">

				<p class="lessonText">The last subject we will discuss in this lesson are <span>Key Signatures</span>. Key Signatures show you every accidental that appears in a scale.</p><br>
				<p class="lessonText">Instead of writing sharps and flats next to each note, you can specify the the key signature at the beginning of the measure.</p>
				<img src="../images/lesson7/keySig.jpg" alt="example key signature">
				<p class="lessonText">For this example, the accidentals at the beginning of the measure tell you that every note on that line or space will be sharp. The notes in this scale contain <span>C#</span>, <span>F#</span>, and <span>G#</span>.</p><br>

				<hr class="hr">
				<a class="lessonText lessonLinks" href="/learn/lesson6b">&#60; Lesson 6</a>
				<a class="lessonText lessonLinks" href="/create">Create!</a>
			</section>
		</section>
	</main>
	<footer class="site-footer">
		<p>&copy; Copyright 2015</p>
	</footer>
</body>
</html