<html>
<head>
	<title>Clef - Learn</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body class="lessonPage">
	<header class="header">
		<nav class="authNav">
			<ul class="social list-inline">
				<li class="username"><a href="/logout">Log Out</a></li>
				<li>|</li>
				<li class="username"><a href="/profile"><%=user.username%></a></li>
				<% if(user.image == "images/default.png") { %>
					<li><img class="userPic" src="../<%=user.image%>" alt="user image"></li>
				<% } else { %>
					<li><img class="userPic" src="<%=user.image%>" alt="user image"></li>
				<% } %>
			</ul>
		</nav>
	</header>
	<main class="homeContent">
		<div class="pageTitle">
			<h1>Lesson 4: Steps &amp; Accidentals</h1>
		</div>
		<nav class="mainNav">
			<ul>
			    <li><a href="/">Home</a></li>
			    <li><a href="/learn">Learn</a></li>
			    <li><a href="/create">Create</a></li>
			</ul>
		</nav>
		<section class="lessonFlex">
			<section class="lessonInfoSection">
				<p class="lessonText">Music notes have <span>half steps</span> and <span>whole steps</span>. The best way to understand is to visualize it.</p><br>
				<p class="lessonText">In the picture below, key 1 to key 2 is a half step since the keys are next to each other.</p>
				<img src="../images/lesson4/half.jpg" alt="half step on a keyboard">
				<p class="lessonText">Half steps aren't always from a white key to a black key. Here is another half step. It's still a half step because the keys are still right next to each other.</p>
				<img src="../images/lesson4/half2.jpg" alt="half step on white keys">
				<p class="lessonText">Next is the whole step, and you can guess that since a half step is from one key to the very next key, a whole key is from one key to the next second next key (key 1 to key 3).</p>
				<img src="../images/lesson4/whole.jpg" alt="whole step">
				<hr class="hr">

				<p class="lessonText">Now we're going to talk about <span>Accidentals</span>. They could also be classified as note modifiers, but they fit better in this section. Accidentals are used to raise or lower the pitch of a note.</p><br>
				<p class="lessonText">The most common accidentals are <span>Flats</span> (represented by a lower case b) and <span>Sharps</span> (represented as a # symbol.</p>
				<img src="../images/lesson4/acc.jpg" alt="sharp and flat accidentals">
				<p class="lessonText">The red key (between C and D) could be called C# (c sharp) becuse it's a half step above C.</p>
				<img src="../images/lesson4/cSharp.jpg" alt="sharp note">
				<p class="lessonText">It could also be called Db (d flat) because it's a half step below D.</p>
				<img src="../images/lesson4/dFlat.jpg" alt="flat note">
				<hr class="hr">

				<p class="lessonText">The next accidentals we'll talk about are the <span>Double Sharp</span> and <span>Double Flat</span>. They're pretty much what you would expect.</p>
				<img src="../images/lesson4/doubles.jpg" alt="double flat and double sharp">
				<p class="lessonText">Since a sharp raises a note's pitch by half a step, a double sharp RAISES a note by a whole step. Same goes for the flat accidental. A double flat LOWERS a note's pitch by a whole step.</p><br>
				<p class="lessonText">The last accidental is a <span>Natural</span>. Naturals cancel out any other accidental and returns a note to its original white key. Here's a picture of each accidental in order from lowering to raising a pitch.</p>
				<img src="../images/lesson4/allAcc.jpg" alt="all accidentals">

				<hr class="hr">
				<a class="lessonText lessonLinks" href="/learn/lesson3">&#60; Lesson 3</a>
				<a class="lessonText lessonLinks" href="/learn/lesson5">Lesson 5 &#62;</a>
			</section>
		</section>
	</main>
	<footer class="site-footer">
		<p>&copy; Copyright 2015</p>
	</footer>
</body>
</html