<html>
<head>
	<title>Clef - Learn</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body class="lessonPage">
	<header class="header">
		<nav class="authNav">
			<ul class="social list-inline">
				<li class="username"><a href="/logout">Log Out</a></li>
				<li>|</li>
				<li class="username"><a href="/profile"><%=user.username%></a></li>
				<% if(user.image == "images/default.png") { %>
					<li><img class="userPic" src="../<%=user.image%>" alt="user image"></li>
				<% } else { %>
					<li><img class="userPic" src="<%=user.image%>" alt="user image"></li>
				<% } %>
			</ul>
		</nav>
	</header>
	<main class="homeContent">
		<div class="pageTitle">
			<h1>Lesson 2: Notes &amp; Rests</h1>
		</div>
		<nav class="mainNav lessonNav">
			<ul>
			    <li><a href="/">Home</a></li>
			    <li><a href="/learn">Learn</a></li>
			    <li><a href="/create">Create</a></li>
			</ul>
		</nav>
		<section class="lessonFlex">
			<section class="lessonInfoSection">
				
				<p class="lessonText">Each type of music note is played for a different length. This is called its <span>note duration</span>.</p>
				<img src="../images/lesson2/durations.jpg" alt="note types">
				<hr class="hr">
				
				<p class="lessonText">Whole notes have the longest duration.</p>
				<img src="../images/lesson2/wholedur.jpg" alt="whole note">
				<hr class="hr">
				
				<p class="lessonText">Half notes have the second longest duration because, you guessed it, they're "half" of a whole note. Two half notes equal one whole note.</p>
				<img src="../images/lesson2/halfdur.jpg" alt="half note">
				<hr class="hr">
				
				<p class="lessonText">Next comes quarter notes. Quarter notes equal one-fourth of a whole note. Two quarter notes equal one half note. Four quarter notes equal one whole note.</p>
				<img src="../images/lesson2/quarterdur.jpg" alt="quarter note">
				<hr class="hr">
				
				<p class="lessonText">Next is an eighth note. Eighth notes, and any other note with a duration smaller than a quarter note's duration, have flags attached to them (<span>shown in red</span>). A flag cuts the notes duration in half.</p>
				<img src="../images/lesson2/flag.jpg" alt="note flag">
				<p class="lessonText">Since an eighth note has one flag, it equals half the duration of a quarter note. So two eighth notes equal one quarter note.</p>
				<img src="../images/lesson2/eighthdur.jpg" alt="eighth note">
				<hr class="hr">
				
				<p class="lessonText">A sixteenth note has two flags, which means its duration is halved again. Two sixteenth notes equal one eighth note, and four of them equal one quarter note.</p>
				<img src="../images/lesson2/sixtdur.jpg" alt="sixteenth note">
				<hr class="hr">
				
				<p class="lessonText">There are notes that contain more flags, but they are not used as often.</p>
				<img src="../images/lesson2/moreFlags.jpg" alt="multple note flags on a note">
				<hr class="hr">

				<p class="lessonText">Here is a comparison chart of the different types of notes and their </p>
				<img src="../images/lesson2/noteChart.jpg" alt="note duration chart">
				<hr class="hr">
				
				<p class="lessonText"><span>Rests</span> are symbols the indicate a period of silence in the music. Rests have the same exact durations as notes. There are whole rests, half rests, quarter rests, and so on.</p><br>
				<p class="lessonText">A whole rest looks like a little box descending from the fourth staff line.</p>
				<img src="../images/lesson2/wholeRest.jpg" alt="whole rest">
				<p class="lessonText">A half rest is a box ascending from the middle staff line. The image shows two half rests because, like notes, two half rests equal one whole rest.</p>
				<img src="../images/lesson2/halfRest.jpg" alt="half rest">
				<p class="lessonText">Here are what the quarter, eighth, and sixteenth rests look like. Notice that the eighth and sixteenth rests do have flags, but they look like little curls.</p>
				<img src="../images/lesson2/otherRests.jpg" alt="other rests">
				<p class="lessonText">Lastly, here is a chart to show the comparisons between the rests, just like the notes.</p>
				<img src="../images/lesson2/restChart.jpg" alt="rest duration chart">

				<hr class="hr">
				<a class="lessonText lessonLinks" href="/learn/lesson1">&#60; Lesson 1</a>
				<a class="lessonText lessonLinks" href="/learn/lesson3">Lesson 3 &#62;</a>

			</section>
		</section>
	</main>
	<footer class="site-footer">
		<p>&copy; Copyright 2015</p>
	</footer>
</body>
</html