<html>
<head>
	<title>Clef - Learn</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body class="lessonPage">
	<header class="header">
		<nav class="authNav">
			<ul class="social list-inline">
				<li class="username"><a href="/profile"><%=user.username%></a></li>
				<% if(user.image == "images/default.png") { %>
					<li><img class="userPic" src="../<%=user.image%>" alt="user image"></li>
				<% } else { %>
					<li><img class="userPic" src="<%=user.image%>" alt="user image"></li>
				<% } %>
			</ul>
		</nav>
	</header>
	<main class="homeContent">
		<div class="pageTitle">
			<h1>Lesson 3: Note Modifiers</h1>
		</div>
		<nav class="mainNav">
			<ul>
			    <li><a href="/">Home</a></li>
			    <li><a href="/learn">Learn</a></li>
			    <li><a href="/create">Create</a></li>
			</ul>
		</nav>
		<section class="lessonFlex">
			<section class="lessonInfoSection">
				<p class="lessonText">All notes have what I call note modifiers that modify notes in some way.</p><br>
				<p class="lessonText">The first type of modifier we'll talk about is <span>Augmentation Dots</span>.</p>
				<p class="lessonText">Augmentation dots extend a note's duration by adding half of its original duration to it, also called dotted notes. For example, if you had a dotted quarter note, it's duration would be the quarter note plus half a quarter note.</p>
				<img src="../images/lesson3/qDot.jpg" alt="dotted quarter note">
				<p class="lessonText">From the picture you see that one one quarter note equals two eighth notes, so a dotted quarter note would have a third eighth note, since and eighth note is equal to half a quarter note.</p><br>
				<p class="lessonText">Here's a chart of some of the different dotted notes.</p>
				<img src="../images/lesson3/dotChart.jpg" alt="different dotted notes">
				
				<hr class="hr">

				<p class="lessonText">The next type of modifier is <span>tenuto ties</span>. They link, or "tie", together two notes of the same pitch.</p>
				<img src="../images/lesson3/tie.jpg" alt="tenuto tie">
				<p class="lessonText">It allows a note's duration to travel across barriers. The most common barrier is a measure line.</p>
				<img src="../images/lesson3/barLine.jpg" alt="measure line">
				<p class="lessonText">They are very simple, but there must be some kind of barrier, like a measure line, in order to tie them. If there were no measure line, you wouldn't need to tie them. You CAN also tie multiple notes, as long as the notes in the next measure have the same notes as before.</p>
				
				<hr class="hr">

				<p class="lessonText">If you wanted to tie a note to a different, you would use a <span>Slur</span>, which is the last type of note modifier we'll talk about.</p><br>
				<p class="lessonText">Instead of playing each note individually, a slur tells you to play both notes as if they were one note that's changing its pitch.</p>
				<img src="../images/lesson3/slur.jpg" alt="slur">
				<p class="lessonText">When playing an instrument, such as a guitar or violin, or any other string instrument, a slur is basically just a sliding motion from one note to the other.</p>

				<hr class="hr">
				<a class="lessonText lessonLinks" href="/learn/lesson2">&#60; Lesson 2</a>
				<a class="lessonText lessonLinks" href="/learn/lesson4">Lesson 4 &#62;</a>
			</section>
		</section>
	</main>
	<footer class="site-footer">
		<p>&copy; Copyright 2015</p>
	</footer>
</body>
</html