<html>
<head>
	<title>Compose</title>
	<script src="https://code.createjs.com/createjs-2015.05.21.min.js"></script>
	<script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/createSheet.css">
</head>
<body onload="main();">
	<header class="header">
		<a id="deselect" href="#"></a>
		<nav class="authNav">
			<ul class="social list-inline">
				<li class="logout"><a href="/logout">Log Out</a></li>
				<li style="color: white;">|</li>
				<li class="username"><a href="/profile"><%=user.username%></a></li>
		    	<% if(user.image == "images/default.png") { %>
					<li><img class="userPic" src="../<%=user.image%>" alt="user image"></li>
				<% } else { %>
					<li><img class="userPic" src="<%=user.image%>" alt="user image"></li>
				<% } %>
			</ul>
		</nav>
		<div class="loadIcon">
			<img id="loading" src="/createAssets/load.GIF">
			<p id="loadingText">Loading Assets...</p>
		</div>
		<nav class="createNav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/learn">Learn</a></li>

				<li><form method="POST">
					<input id="saveSongName" name="saveSongName" type="text" hidden='true'>
					<input id="saveSongNotes" name="saveSongNotes" type="text" hidden='true'>
					<input type="submit" onclick="saveFile();" value="Save Song" class="fileSaver">
				</form></li>

				<li><form>
					<input id="loadSongName" type="text" hidden='true'>
					<input id="loadSongNotes" type="text" hidden='true'>
					<input onclick="loadFile()" type="submit" value="Load Song" class="fileLoader">
				</form></li>
				<!-- <input type="file" id="files" name="files[]" class="fileLoader"> -->
				<li><input type"text" id="songTitle" placeholder="Enter song name"></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="songsArea">
			<% if(user.songs.length === 0) { %>
				<li>No Recent Songs</li>
			<%} else { %>
				<% user.songs.forEach(function(song) { %>
					<li><a href="#"><%=song.songTitle%></a></li>
				<% }) %>
			<% } %>
		</div>
		<canvas id="canvas" class="canvas"></canvas>
	</main>

	  <script src="/javascripts/compose.js"></script>
</body>
</html>