<html>
<head>
	<title>Compose</title>
	<script src="https://code.createjs.com/createjs-2015.05.21.min.js"></script>
	<script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/createSheet.css">
</head>
<body onload="main();">
	<header class="header">
		<nav class="authNav">
			<ul class="social list-inline">
				<li class="username"><a href="/profile"><%=user.username%></a></li>
		    	<% if(user.image == "images/default.png") { %>
					<li><img class="userPic" src="../<%=user.image%>" alt="user image"></li>
				<% } else { %>
					<li><img class="userPic" src="<%=user.image%>" alt="user image"></li>
				<% } %>
			</ul>
		</nav>
		<nav class="createNav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/learn">Learn</a></li>

				<button onclick="saveFile();" class="fileSaver">Save Song</button>
				<input type="file" id="files" name="files[]" class="fileLoader">
			</ul>
		</nav>
	</header>
	  <canvas id="canvas" class="canvas"></canvas>


	  <script src="/javascripts/compose.js"></script>
</body>
</html>