<html>
<head>
	<title>Clef - Create</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="homepage">
	<header class="header">
		<nav class="authNav">
			<ul class="social list-inline">
				<% if(user != 'null') { %>
					<li class="logout"><a href="/logout">Log Out</a></li>
					<li>|</li>
					<li class="username"><a href="/profile"><%=user.username%></a></li>
			    	<li><img class="userPic" src="<%=user.image%>" alt="user image"></li>
				<% } %>
				<% if(user == 'null') { %>
			    <li>
					<a href="/auth/google" class="googleplus"><i class="fa fa-google-plus"></i></a>
			    <li>|</li>
				<li>
					<a href="/auth/facebook" class="facebook"><i class="fa fa-facebook"></i></a>
				</li>
			    <li>|</li>
			    <li><a href="/login">Login</a></li>
			    <% } %>
			</ul>
		</nav>
	</header>
	<main class="homeContent">
		<section class="homeLogo">
			<a href="/"><img alt="Clef - Home" src="/images/logo.png"></a>
		</section>
		<nav class="mainNav">
			<ul>
			    <li><a href="/learn">Learn</a></li>
			    <li class="selected"><a href="/create">Create</a></li>
			</ul>
		</nav>
		<section class="createFlex">
			<section class="createSections">
				<h2>Feel like creating something original?
					<br>Click on the button to find out.
				</h2>
				<img class="createThumb" src="images/createThumb.jpg" alt="preview of music creation page"><br>
				<a href="/create/compose"><button class="createBtn">Create</button></a>
			</section>
		</section>
	</main>
	<footer class="site-footer">
		<p>&copy; Copyright 2015</p>
	</footer>
</body>
</html>