<html>
 <head>
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
 </head>
 <body class="errorPage">
  <h1><%=message%></h1>
  <h2><%=error.status%></h2>
  <div>
	<%=error.stack%>
  </div>
  
 </body>
</html>