<html>
<head>
	<title>Clef - Learn</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body class="homepage">
	<header class="header">
		<nav class="authNav">
			<ul class="social list-inline">
				<% if(user != null) { %>
					<li class="username"><a href="/profile"><%=user.username%></a></li>
					<li><img class="userPic" src="<%=user.image%>" alt="user image"></li>
				<% } %>
				<% if(user == 'null') { %>
			    <li>
					<a href="/auth/google" class="googleplus"><i class="fa fa-google-plus"></i></a>
			    <li>|</li>
				<li>
					<a href="/auth/facebook" class="facebook"><i class="fa fa-facebook"></i></a>
				</li>
			    <li>|</li>
			    <li><a href="/login">Login</a></li>
			    <% } %>
			</ul>
		</nav>
	</header>

	<main class="homeContent">
		<div class="pageTitle">
			<h1>Clef</h1>
		</div>
		<nav class="mainNav">
			<ul>
			    <li><a href="/">Home</a></li>
			    <li class="selected"><a href="/learn">Learn</a></li>
			    <li><a href="/create">Create</a></li>
			</ul>
		</nav>
		<section >
		</section>
		<section class="learnFlex">
			<section class="lessonSection">
				<h2 class="lessonName">The Basics</h2>
				<img class="lessonImage1" src="images/treble.png">
				<h3 class="lessonDescription">Jump right into it by learning the basics</h3>
				<button class="lessonBtn">Begin</button>
			</section>
			<section class="lessonSection">
				<h2 class="lessonName">Notes &amp; Rests</h2>
				<img class="lessonImage2" src="images/note.png">
				<h3 class="lessonDescription">Learn the several types of notes and rests</h3>
				<button class="lessonBtn">Begin</button>
			</section>
			<section class="lessonSection">
				<h2 class="lessonName">Note Modifiers</h2>
				<img class="lessonImage3" src="images/mod.png">
				<h3 class="lessonDescription">Any note can be modified in order to achieve a different sound</h3>
				<button class="lessonBtn">Begin</button>
			</section>
			<section class="lessonSection">
				<h2 class="lessonName">Steps and Accidentals</h2>
				<img class="lessonImage4" src="images/steps.png">
				<h3 class="lessonDescription">Lesson Description</h3>
				<button class="lessonBtn">Begin</button>
			</section>
			<section class="lessonSection">
				<h2 class="lessonName">Measures and Time Signatures</h2>
				<img class="lessonImage5" src="images/bar.png">
				<h3 class="lessonDescription">Lesson Description</h3>
				<button class="lessonBtn">Begin</button>
			</section>
			<section class="lessonSection">
				<h2 class="lessonName">Rhythm and Meter</h2>
				<img class="lessonImage6" src="images/rhythm.png">
				<h3 class="lessonDescription">Lesson Description</h3>
				<button class="lessonBtn">Begin</button>
			</section>
			<section class="lessonSection">
				<h2 class="lessonName">Scales</h2>
				<img class="lessonImage7" src="images/scale.png">
				<h3 class="lessonDescription">Lesson Description</h3>
				<button class="lessonBtn">Begin</button>
			</section>
		</section>
	</main>
	<footer class="site-footer">
		<p>&copy; Copyright 2015</p>
	</footer>
</body>
</html>