body {
	font: 14px "Helvetica Neue", Arial, sans-serif;
	color: black;
	margin: 0;
	padding: 0;
	margin-top: 50px;
}

.loadIcon {
	width: 150px;
	height: 100px;
	margin: 0 auto;
	margin-top: 20%;
	text-align: center;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,.8);
}
.fileSaver {
	margin-left: 100px;
	margin-top: 3px;
	margin-right: 20px;
}
.fileLoader {
	margin-top: 3px;
	margin-right: 20px;
}
.createNav a {
  color: #00B7FF;
}
.createNav {
	position: absolute;
	top: 10;
	left: 70;
	color: white;
}
.createNav ul {
	margin: 0;
	padding: 0;
}
.createNav li {
	list-style: none;
	list-style-image: none;
	float: left;
	margin: 0;
	padding: 0;
	margin-right: 10px;
	font-size: 1.5em;
}
.authNav a {
  color: #00B7FF;
}
.authNav {
	width: auto;
	height: 50px;
	padding: 5px;
}
.authNav ul {
	margin: 0;
	padding: 0;
}
.authNav li {
	list-style: none;
	list-style-image: none;
	padding: 10px;
	margin: 0;
	float: right;
	font-size: 1.4em;
}
.username a, .logout a {
	text-decoration: none;
}
.username a:hover, .logout a:hover {
	text-decoration: underline;
}
.userPic {
	width: 40px;
	height: 40px;
	margin-top: -12px;
	border: 1px solid white;
}

.canvas {
	color: black;
}