body {
  font: 14px "Helvetica Neue", Arial, sans-serif;
  color: white;
}

.errorPage {
	color: black;
}

.loginFlex, .registerFlex {
	background: rgba(255,255,255,.6);
	border-radius: 5px;
	width: 400px;
	height: auto;
	padding: 20px;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
}
.sm {
	color: black;
}
.socialMedia {
	font-size: 2em;
}
.formTitle {
	margin-top: -10px;
	margin-bottom: 20px;
	color: black;
}
.authForm {
	display: flex;
	flex-direction: column;
}
.authInfo {
	margin: 0 auto;
	margin-bottom: 30px;
	width: 80%;
	height: 50px;
	color: black;
	font-size: 2em;
}
.authForm label {
	font-size: 1.5em;
	color: black;
}
.authBtn {
	width: 100px;
	height: 50px;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	margin: 0 auto;
}
.homepage {
	background: url("../images/clefBack.jpg") no-repeat center center fixed;
}
.lessonPage {
	background: linear-gradient(#8AB0CE, #6384A5, #3F329F);
}
.homepage {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.header {
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,.5);
	margin-bottom: 50px;
}
.authNav a {
  color: #00B7FF;
}
.authNav {
	width: auto;
	height: 50px;
	padding: 5px;
}
.authNav ul {
	margin: 0;
	padding: 0;
}
.authNav li {
	list-style: none;
	list-style-image: none;
	padding: 10px;
	margin: 0;
	float: right;
	font-size: 1.4em;
}
.profileName {
	text-decoration: none;
}
.userPic {
	width: 40px;
	height: 40px;
	margin-top: -10px;
	border: 1px solid white;
}
.mainNav a {
	color: black;
	border-bottom: 3px solid black;
}
.mainNav a:hover {
	text-decoration: none;
	color: white;
	border-bottom: 3px solid white;
}
.mainNav {
	width: 225px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: -50px;
}
.mainNav ul {
	margin: 0;
	padding: 0;
}
.mainNav li {
	list-style: none;
	list-style-image: none;
	padding: 10px;
	margin: 0;
	float: left;
	font-size: 2em;
}
.formNav {
	width: 350px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: -50px;
}
.formNav a {
	color: black;
	border-bottom: 3px solid black;
}
.formNav a:hover {
	text-decoration: none;
	color: white;
	border-bottom: 3px solid white;
}
.formNav ul {
	margin: 0;
	padding: 0;
}
.formNav li {
	list-style: none;
	list-style-image: none;
	padding: 10px;
	margin: 0;
	float: left;
	font-size: 2em;
}
.profileNav {
	width: 350px;
}
.lessonNav {
	width: 340px;
	margin-bottom: 50px;
}

.selected {
4	background-color: black;
	color: white;
}
.selected a {
	color: white;
	border-bottom: 3px solid white;
}

/*-----------------------------------------------------------------*/

.hr {
	border: 1px solid black;
}
.pageTitle {
	margin: 0 auto;
	text-align: center;
	color: black;
}
.pageTitle h1 {
	font-size: 3em;
}

.homeContent {
	min-height: 80%;
}
.homeLogo {
	width: 350px;
	height: 160px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.homeLogo img {
	width: 330px;
	height: 160px;
}
.homeFlex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	margin-top: 70px;
}
span {
	color: red;
}
.lessonFlex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-top: 70px;
}
.lessonInfoSection {
	background-color: white;
	/*border: 3px solid black;*/
	width: 60%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 100px;
	padding: 20px;
	border-radius: 20px;
	color: black;
	text-align: center;
	-moz-box-shadow:    0px 0px 80px 5px #000;
  	-webkit-box-shadow: 0px 0px 80px 5px #000;
  	box-shadow:         0px 0px 80px 5px #000;
}
.lessonInfoSection img {
	margin: 30px;
}
.lessonText {
	font-size: 1.5em;
	width: 80%;
	margin: 0 auto;
}
.lessonLinks {
	text-decoration: underline;
	margin-left: 10px;
	margin-right: 10px;
}
.crumb {
	color: black;
	text-decoration: underline;
}
.learnSection h2, .createSection h2 {
	font-size: 2em;
}
.learnSection, .createSection {
	width: 600px;
	height: 400px;
	background: rgba(185,231,255,.5);
	margin: 20px;
	text-align: center;
	color: black;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 70px;
}
.learnBtn, .createBtn {
	background-color: #6338c6;
	border: 2px solid #33194d;
	color: white;
	width: 140px;
	height: 60px;
	font-size: 1.8em;
	border-radius: 10px;
	margin-top: 30px;
}
.learnBtn:hover, .createBtn:hover {
	color: black;
}

.learnFlex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 50px;
}
.lessonSection {
	flex-grow: 0;
	background: rgba(185,231,255,.5);
	min-width: 35%;
	height: 450px;
	margin: 0 auto;
	margin: 20px;
	padding: 20px;
	text-align: center;
	color: black;
}
.lessonName {
	font-weight: bolder;
}
.lessonImage1 {
	width: 40px;
	height: 100px;
}
.lessonImage2, .lessonImage3, .lessonImage4, .lessongImage5, .lessonImage6 {
	width: 100px;
	height: 100px;
}
.lessonImage7 {
	width: 300px;
	height: 100px;
}
.lessonDescription {
	width: 300px;
	margin: 0 auto;
	margin-top: 30px;
}

.lessonBtn {
	background-color: #6338c6;
	border: 2px solid #33194d;
	color: white;
	width: 140px;
	height: 60px;
	font-size: 1.8em;
	border-radius: 10px;
	margin-top: 30px;
}

.createFlex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	margin-top: 70px;
}
.createSections {
	flex-grow: 0;
	background: rgba(185,231,255,.5);
	min-width: 400px;
	height: auto;
	margin: 0 auto;
	margin: 20px;
	padding: 20px;
	text-align: center;
	color: black;
}
.createThumb {
	margin: 10px;
	border: 3px solid black;
	border-radius: 10px;
}

.profileFlex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	margin-top: 70px;
}
.profileSection {
	background: rgba(185,231,255,.5);
	min-width: 400px;
	height: auto;
	margin: 0 auto;
	margin: 20px;
	text-align: center;
	color: black;
}
.userSongs {
	width: 100%;
	margin: 0;
	padding: 0;
}
.userSongs li {
	list-style: none;
	list-style-image: none;
}
.progressDiv, .songDiv {
	margin: 0 auto;
	width: 500px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 1.2em;
	text-align: center;
}

/*-----------------------------------------------------------------*/

.site-footer {
  height: auto;
}
.site-footer {
	background-color: rgba(0,0,0,.5);
	text-align: center;
	width: 100%;
	height: 10%;
	margin: 0;
	padding: 0;
	padding: 20px;
}