<!doctype html>
<html>
    <head>
    	<title>Get a Book</title>
    </head>
    <body>
        <script type="text/javascript">
        	function getBook() {
        		var bookId = document.getElementById("idBox").value;
        		window.location = "http://localhost:8000/api/books/" + bookId;
        	}
        </script>

        <form method='GET'>
        	<input id='idBox' type='text' placeholder="Book ID" required>
        	<button onclick='getBook(); return false;'>Submit</button>
        	<!-- <input id='submitBtn' type='submit' value="Submit"> -->
        </form>

    </body>
</html>