<!doctype html>
<html>
    <head>
        <title>Delete a Book</title>
    </head>
    <body>
        <script type="text/javascript">
            function deleteBook() {
                var bookId = document.getElementById("idBox").value;
                window.location = "http://localhost:8000/api/books/" + bookId;
            }
        </script>

        <form method='post'>
            <input id='idBox' type='text' placeholder="Book ID" required>
            <input type='submit' onclick='deleteBook(); return false;'>
        </form>

    </body>
</html>